In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os
import re
import numpy as np

In [2]:
os.chdir(os.path.join(os.path.sep, 'home', 'tkokkeng', 'Documents', 'comfort-study'))
os.getcwd()

'/home/tkokkeng/Documents/comfort-study'

In [3]:
import sys
if os.path.join(os.getcwd(), 'source') not in sys.path:
    sys.path.append(os.path.join(os.getcwd(), 'source'))
sys.path

['/home/tkokkeng/Documents/comfort-study',
 '/home/tkokkeng/Documents/comfort-study/source',
 '/home/tkokkeng/python/python367/comfort-study-venv/lib/python36.zip',
 '/home/tkokkeng/python/python367/comfort-study-venv/lib/python3.6',
 '/home/tkokkeng/python/python367/comfort-study-venv/lib/python3.6/lib-dynload',
 '/usr/lib/python3.6',
 '',
 '/home/tkokkeng/python/python367/comfort-study-venv/lib/python3.6/site-packages',
 '/home/tkokkeng/.local/lib/python3.6/site-packages',
 '/usr/local/lib/python3.6/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/home/tkokkeng/.local/lib/python3.6/site-packages/IPython/extensions',
 '/home/tkokkeng/.ipython']

## Transform data

In [4]:
all_zones_df = pd.read_excel(io=os.path.join('data', 'Comfort study at lecture theatre（raw data).xlsx'), sheet_name=0, header=0)

In [5]:
all_zones_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 20 columns):
时间戳记                                                                      139 non-null datetime64[ns]
Which Zone are you sitting in                                             138 non-null object
What is your gender?                                                      138 non-null object
What is your clothing like?                                               139 non-null object
Do you feel you have adequate rest/sleep the previous night? [`]          137 non-null object
Indoor environment perception [Temperature]                               139 non-null object
` [Air movement]                                                          139 non-null object
` [Air Quality]                                                           139 non-null object
Indoor Environmental Satisfaction [Temperature]                           138 non-null object
Indoor Environmental Satisfaction [Air movement]                          138 non-null object
Indoor Environmental Satisfaction [Air quality]                           138 non-null object
Indoor Environmental Satisfaction [Overall]                               136 non-null object
How much do you experience the following [Headaches]                      139 non-null object
How much do you experience the following [Difficulty in concentration]    138 non-null object
How much do you experience the following [Dry skin]                       138 non-null object
How much do you experience the following [Sleepiness]                     138 non-null object
How much do you experience the following [Eye irritation]                 137 non-null object
How much do you experience the following [Throat irritation]              138 non-null object
How much do you experience the following [Running nose]                   138 non-null object
How much do you experience the following [Sneezing/Coughing]              138 non-null object
dtypes: datetime64[ns](1), object(19)
memory usage: 21.8+ KB

In [6]:
all_zones_df.iloc[:5, :10]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>时间戳记</th>
      <th>Which Zone are you sitting in</th>
      <th>What is your gender?</th>
      <th>What is your clothing like?</th>
      <th>Do you feel you have adequate rest/sleep the previous night? [`]</th>
      <th>Indoor environment perception [Temperature]</th>
      <th>` [Air movement]</th>
      <th>` [Air Quality]</th>
      <th>Indoor Environmental Satisfaction [Temperature]</th>
      <th>Indoor Environmental Satisfaction [Air movement]</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2018-10-05 17:05:46.359</td>
      <td>NaN</td>
      <td>Female</td>
      <td>B</td>
      <td>NaN</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2019-01-18 17:10:46.523</td>
      <td>Zone 1</td>
      <td>Male</td>
      <td>A</td>
      <td>Too little</td>
      <td>Cold</td>
      <td>Far too strong</td>
      <td>Very smell/stale</td>
      <td>Somewhat dissatisfied</td>
      <td>Neutral</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2019-01-22 10:06:39.373</td>
      <td>Zone 3</td>
      <td>Male</td>
      <td>B</td>
      <td>A little under</td>
      <td>Slightly cool</td>
      <td>A little weak</td>
      <td>A little fresh</td>
      <td>Satisfied</td>
      <td>Somewhat satisfied</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2019-01-22 13:11:43.507</td>
      <td>Zone 4</td>
      <td>Female</td>
      <td>A</td>
      <td>A little under</td>
      <td>Just comfortable</td>
      <td>Just nice</td>
      <td>Just acceptable</td>
      <td>Somewhat satisfied</td>
      <td>Neutral</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2019-01-22 13:16:09.528</td>
      <td>Zone 2</td>
      <td>Female</td>
      <td>A</td>
      <td>Just sufficient</td>
      <td>Just comfortable</td>
      <td>Just nice</td>
      <td>Just acceptable</td>
      <td>Somewhat dissatisfied</td>
      <td>Neutral</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
all_zones_df.iloc[-5:, :10]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>时间戳记</th>
      <th>Which Zone are you sitting in</th>
      <th>What is your gender?</th>
      <th>What is your clothing like?</th>
      <th>Do you feel you have adequate rest/sleep the previous night? [`]</th>
      <th>Indoor environment perception [Temperature]</th>
      <th>` [Air movement]</th>
      <th>` [Air Quality]</th>
      <th>Indoor Environmental Satisfaction [Temperature]</th>
      <th>Indoor Environmental Satisfaction [Air movement]</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>134</th>
      <td>2019-01-22 13:41:00.157</td>
      <td>Zone 3</td>
      <td>Female</td>
      <td>A</td>
      <td>A little under</td>
      <td>Cool</td>
      <td>Just nice</td>
      <td>A little smelly/stale</td>
      <td>Somewhat satisfied</td>
      <td>Neutral</td>
    </tr>
    <tr>
      <th>135</th>
      <td>2019-01-22 13:41:13.449</td>
      <td>Zone 4</td>
      <td>Female</td>
      <td>A</td>
      <td>Just sufficient</td>
      <td>Slightly cool</td>
      <td>A little weak</td>
      <td>A little smelly/stale</td>
      <td>Neutral</td>
      <td>Neutral</td>
    </tr>
    <tr>
      <th>136</th>
      <td>2019-01-22 13:41:49.097</td>
      <td>Zone 3</td>
      <td>Male</td>
      <td>A</td>
      <td>A little under</td>
      <td>Warm</td>
      <td>A little weak</td>
      <td>A little smelly/stale</td>
      <td>Dissatisfied</td>
      <td>Dissatisfied</td>
    </tr>
    <tr>
      <th>137</th>
      <td>2019-01-22 13:41:57.498</td>
      <td>Zone 1</td>
      <td>Female</td>
      <td>A</td>
      <td>A little under</td>
      <td>Just comfortable</td>
      <td>Just nice</td>
      <td>A little smelly/stale</td>
      <td>Somewhat satisfied</td>
      <td>Neutral</td>
    </tr>
    <tr>
      <th>138</th>
      <td>2019-01-22 15:30:48.002</td>
      <td>Zone 1</td>
      <td>Male</td>
      <td>B</td>
      <td>Just sufficient</td>
      <td>A little warm</td>
      <td>A little weak</td>
      <td>A little smelly/stale</td>
      <td>Somewhat dissatisfied</td>
      <td>Somewhat dissatisfied</td>
    </tr>
  </tbody>
</table>
</div>

In [38]:
col_names = list(all_zones_df.columns)
col_names = list(map(lambda x: re.sub(r'[`/]|\[\]+', '', x), col_names))
col_names = list(map(lambda x: re.sub(r'^ +| +$', '', x), col_names))
col_names

['时间戳记',
 'Which Zone are you sitting in',
 'What is your gender?',
 'What is your clothing like?',
 'Do you feel you have adequate restsleep the previous night?',
 'Indoor environment perception [Temperature]',
 '[Air movement]',
 '[Air Quality]',
 'Indoor Environmental Satisfaction [Temperature]',
 'Indoor Environmental Satisfaction [Air movement]',
 'Indoor Environmental Satisfaction [Air quality]',
 'Indoor Environmental Satisfaction [Overall]',
 'How much do you experience the following [Headaches]',
 'How much do you experience the following [Difficulty in concentration]',
 'How much do you experience the following [Dry skin]',
 'How much do you experience the following [Sleepiness]',
 'How much do you experience the following [Eye irritation]',
 'How much do you experience the following [Throat irritation]',
 'How much do you experience the following [Running nose]',
 'How much do you experience the following [SneezingCoughing]']

In [39]:
all_zones_df.columns = col_names
all_zones_df.iloc[:5, :5]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>时间戳记</th>
      <th>Which Zone are you sitting in</th>
      <th>What is your gender?</th>
      <th>What is your clothing like?</th>
      <th>Do you feel you have adequate restsleep the previous night?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2018-10-05 17:05:46.359</td>
      <td>NaN</td>
      <td>Female</td>
      <td>B</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2019-01-18 17:10:46.523</td>
      <td>Zone 1</td>
      <td>Male</td>
      <td>A</td>
      <td>Too little</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2019-01-22 10:06:39.373</td>
      <td>Zone 3</td>
      <td>Male</td>
      <td>B</td>
      <td>A little under</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2019-01-22 13:11:43.507</td>
      <td>Zone 4</td>
      <td>Female</td>
      <td>A</td>
      <td>A little under</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2019-01-22 13:16:09.528</td>
      <td>Zone 2</td>
      <td>Female</td>
      <td>A</td>
      <td>Just sufficient</td>
    </tr>
  </tbody>
</table>
</div>

In [40]:
lower_df = all_zones_df.loc[(all_zones_df['Which Zone are you sitting in'] == 'Zone 3') | (all_zones_df['Which Zone are you sitting in'] == 'Zone 4'), :]
lower_df.reset_index(drop=True, inplace=True)
lower_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 20 columns):
时间戳记                                                                      60 non-null datetime64[ns]
Which Zone are you sitting in                                             60 non-null object
What is your gender?                                                      59 non-null object
What is your clothing like?                                               60 non-null object
Do you feel you have adequate restsleep the previous night?               60 non-null object
Indoor environment perception [Temperature]                               60 non-null object
[Air movement]                                                            60 non-null object
[Air Quality]                                                             60 non-null object
Indoor Environmental Satisfaction [Temperature]                           60 non-null object
Indoor Environmental Satisfaction [Air movement]                          60 non-null object
Indoor Environmental Satisfaction [Air quality]                           60 non-null object
Indoor Environmental Satisfaction [Overall]                               59 non-null object
How much do you experience the following [Headaches]                      60 non-null object
How much do you experience the following [Difficulty in concentration]    60 non-null object
How much do you experience the following [Dry skin]                       60 non-null object
How much do you experience the following [Sleepiness]                     60 non-null object
How much do you experience the following [Eye irritation]                 60 non-null object
How much do you experience the following [Throat irritation]              60 non-null object
How much do you experience the following [Running nose]                   60 non-null object
How much do you experience the following [SneezingCoughing]               60 non-null object
dtypes: datetime64[ns](1), object(19)
memory usage: 9.5+ KB

In [41]:
lower_df.iloc[:5, :5]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>时间戳记</th>
      <th>Which Zone are you sitting in</th>
      <th>What is your gender?</th>
      <th>What is your clothing like?</th>
      <th>Do you feel you have adequate restsleep the previous night?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2019-01-22 10:06:39.373</td>
      <td>Zone 3</td>
      <td>Male</td>
      <td>B</td>
      <td>A little under</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2019-01-22 13:11:43.507</td>
      <td>Zone 4</td>
      <td>Female</td>
      <td>A</td>
      <td>A little under</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2019-01-22 13:16:37.913</td>
      <td>Zone 4</td>
      <td>Male</td>
      <td>A</td>
      <td>Too little</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2019-01-22 13:16:43.003</td>
      <td>Zone 4</td>
      <td>Female</td>
      <td>A</td>
      <td>Just sufficient</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2019-01-22 13:16:43.734</td>
      <td>Zone 3</td>
      <td>Female</td>
      <td>A</td>
      <td>A little under</td>
    </tr>
  </tbody>
</table>
</div>

In [42]:
upper_df = all_zones_df.loc[(all_zones_df['Which Zone are you sitting in'] == 'Zone 1') | (all_zones_df['Which Zone are you sitting in'] == 'Zone 2'), :]
upper_df.reset_index(drop=True)
upper_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78 entries, 1 to 138
Data columns (total 20 columns):
时间戳记                                                                      78 non-null datetime64[ns]
Which Zone are you sitting in                                             78 non-null object
What is your gender?                                                      78 non-null object
What is your clothing like?                                               78 non-null object
Do you feel you have adequate restsleep the previous night?               77 non-null object
Indoor environment perception [Temperature]                               78 non-null object
[Air movement]                                                            78 non-null object
[Air Quality]                                                             78 non-null object
Indoor Environmental Satisfaction [Temperature]                           78 non-null object
Indoor Environmental Satisfaction [Air movement]                          78 non-null object
Indoor Environmental Satisfaction [Air quality]                           78 non-null object
Indoor Environmental Satisfaction [Overall]                               77 non-null object
How much do you experience the following [Headaches]                      78 non-null object
How much do you experience the following [Difficulty in concentration]    78 non-null object
How much do you experience the following [Dry skin]                       78 non-null object
How much do you experience the following [Sleepiness]                     78 non-null object
How much do you experience the following [Eye irritation]                 77 non-null object
How much do you experience the following [Throat irritation]              78 non-null object
How much do you experience the following [Running nose]                   78 non-null object
How much do you experience the following [SneezingCoughing]               78 non-null object
dtypes: datetime64[ns](1), object(19)
memory usage: 12.8+ KB

In [43]:
upper_df.iloc[:5, :5]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>时间戳记</th>
      <th>Which Zone are you sitting in</th>
      <th>What is your gender?</th>
      <th>What is your clothing like?</th>
      <th>Do you feel you have adequate restsleep the previous night?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2019-01-18 17:10:46.523</td>
      <td>Zone 1</td>
      <td>Male</td>
      <td>A</td>
      <td>Too little</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2019-01-22 13:16:09.528</td>
      <td>Zone 2</td>
      <td>Female</td>
      <td>A</td>
      <td>Just sufficient</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2019-01-22 13:16:26.069</td>
      <td>Zone 1</td>
      <td>Female</td>
      <td>A</td>
      <td>Just sufficient</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2019-01-22 13:16:44.703</td>
      <td>Zone 1</td>
      <td>Male</td>
      <td>A</td>
      <td>Just sufficient</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2019-01-22 13:16:55.189</td>
      <td>Zone 1</td>
      <td>Female</td>
      <td>A</td>
      <td>Just sufficient</td>
    </tr>
  </tbody>
</table>
</div>

In [44]:
lower_df.columns

Index(['时间戳记', 'Which Zone are you sitting in', 'What is your gender?',
       'What is your clothing like?',
       'Do you feel you have adequate restsleep the previous night?',
       'Indoor environment perception [Temperature]', '[Air movement]',
       '[Air Quality]', 'Indoor Environmental Satisfaction [Temperature]',
       'Indoor Environmental Satisfaction [Air movement]',
       'Indoor Environmental Satisfaction [Air quality]',
       'Indoor Environmental Satisfaction [Overall]',
       'How much do you experience the following [Headaches]',
       'How much do you experience the following [Difficulty in concentration]',
       'How much do you experience the following [Dry skin]',
       'How much do you experience the following [Sleepiness]',
       'How much do you experience the following [Eye irritation]',
       'How much do you experience the following [Throat irritation]',
       'How much do you experience the following [Running nose]',
       'How much do you experience the following [SneezingCoughing]'],
      dtype='object')

In [45]:
lower_a_df = lower_df.loc[lower_df['What is your clothing like?'] == 'A', :]
lower_a_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 1 to 59
Data columns (total 20 columns):
时间戳记                                                                      45 non-null datetime64[ns]
Which Zone are you sitting in                                             45 non-null object
What is your gender?                                                      44 non-null object
What is your clothing like?                                               45 non-null object
Do you feel you have adequate restsleep the previous night?               45 non-null object
Indoor environment perception [Temperature]                               45 non-null object
[Air movement]                                                            45 non-null object
[Air Quality]                                                             45 non-null object
Indoor Environmental Satisfaction [Temperature]                           45 non-null object
Indoor Environmental Satisfaction [Air movement]                          45 non-null object
Indoor Environmental Satisfaction [Air quality]                           45 non-null object
Indoor Environmental Satisfaction [Overall]                               44 non-null object
How much do you experience the following [Headaches]                      45 non-null object
How much do you experience the following [Difficulty in concentration]    45 non-null object
How much do you experience the following [Dry skin]                       45 non-null object
How much do you experience the following [Sleepiness]                     45 non-null object
How much do you experience the following [Eye irritation]                 45 non-null object
How much do you experience the following [Throat irritation]              45 non-null object
How much do you experience the following [Running nose]                   45 non-null object
How much do you experience the following [SneezingCoughing]               45 non-null object
dtypes: datetime64[ns](1), object(19)
memory usage: 7.4+ KB

In [77]:
g1 = lower_df.groupby(['What is your clothing like?'])

In [80]:
print(g1.size())

What is your clothing like?
A    45
B    11
C     4
dtype: int64

In [100]:
list(g1.groups.keys())

['A', 'B', 'C']

In [82]:
g1.get_group('A').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 1 to 59
Data columns (total 20 columns):
时间戳记                                                                      45 non-null datetime64[ns]
Which Zone are you sitting in                                             45 non-null object
What is your gender?                                                      44 non-null object
What is your clothing like?                                               45 non-null object
Do you feel you have adequate restsleep the previous night?               45 non-null object
Indoor environment perception [Temperature]                               45 non-null object
[Air movement]                                                            45 non-null object
[Air Quality]                                                             45 non-null object
Indoor Environmental Satisfaction [Temperature]                           45 non-null object
Indoor Environmental Satisfaction [Air movement]                          45 non-null object
Indoor Environmental Satisfaction [Air quality]                           45 non-null object
Indoor Environmental Satisfaction [Overall]                               44 non-null object
How much do you experience the following [Headaches]                      45 non-null object
How much do you experience the following [Difficulty in concentration]    45 non-null object
How much do you experience the following [Dry skin]                       45 non-null object
How much do you experience the following [Sleepiness]                     45 non-null object
How much do you experience the following [Eye irritation]                 45 non-null object
How much do you experience the following [Throat irritation]              45 non-null object
How much do you experience the following [Running nose]                   45 non-null object
How much do you experience the following [SneezingCoughing]               45 non-null object
dtypes: datetime64[ns](1), object(19)
memory usage: 7.4+ KB

In [86]:
lower_by_clothing = []
for i in g1.groups.keys():
    lower_by_clothing.append(g1.get_group(i))

In [87]:
len(lower_by_clothing)

3

In [88]:
lower_by_clothing[0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 1 to 59
Data columns (total 20 columns):
时间戳记                                                                      45 non-null datetime64[ns]
Which Zone are you sitting in                                             45 non-null object
What is your gender?                                                      44 non-null object
What is your clothing like?                                               45 non-null object
Do you feel you have adequate restsleep the previous night?               45 non-null object
Indoor environment perception [Temperature]                               45 non-null object
[Air movement]                                                            45 non-null object
[Air Quality]                                                             45 non-null object
Indoor Environmental Satisfaction [Temperature]                           45 non-null object
Indoor Environmental Satisfaction [Air movement]                          45 non-null object
Indoor Environmental Satisfaction [Air quality]                           45 non-null object
Indoor Environmental Satisfaction [Overall]                               44 non-null object
How much do you experience the following [Headaches]                      45 non-null object
How much do you experience the following [Difficulty in concentration]    45 non-null object
How much do you experience the following [Dry skin]                       45 non-null object
How much do you experience the following [Sleepiness]                     45 non-null object
How much do you experience the following [Eye irritation]                 45 non-null object
How much do you experience the following [Throat irritation]              45 non-null object
How much do you experience the following [Running nose]                   45 non-null object
How much do you experience the following [SneezingCoughing]               45 non-null object
dtypes: datetime64[ns](1), object(19)
memory usage: 7.4+ KB

In [89]:
lower_by_clothing[0].iloc[:5, :5]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>时间戳记</th>
      <th>Which Zone are you sitting in</th>
      <th>What is your gender?</th>
      <th>What is your clothing like?</th>
      <th>Do you feel you have adequate restsleep the previous night?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2019-01-22 13:11:43.507</td>
      <td>Zone 4</td>
      <td>Female</td>
      <td>A</td>
      <td>A little under</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2019-01-22 13:16:37.913</td>
      <td>Zone 4</td>
      <td>Male</td>
      <td>A</td>
      <td>Too little</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2019-01-22 13:16:43.003</td>
      <td>Zone 4</td>
      <td>Female</td>
      <td>A</td>
      <td>Just sufficient</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2019-01-22 13:16:43.734</td>
      <td>Zone 3</td>
      <td>Female</td>
      <td>A</td>
      <td>A little under</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2019-01-22 13:16:45.752</td>
      <td>Zone 4</td>
      <td>Female</td>
      <td>A</td>
      <td>Just sufficient</td>
    </tr>
  </tbody>
</table>
</div>

In [91]:
(lower_by_clothing[0]['What is your clothing like?'] == 'A').all()

True

In [92]:
(lower_by_clothing[1]['What is your clothing like?'] == 'B').all()

True

In [93]:
(lower_by_clothing[2]['What is your clothing like?'] == 'C').all()

True

In [94]:
g2 = upper_df.groupby(['What is your clothing like?'])
upper_by_clothing = []
for i in g2.groups.keys():
    upper_by_clothing.append(g2.get_group(i))

In [97]:
for idx, a_key in enumerate(g2.groups.keys()):
    print(a_key, (upper_by_clothing[idx]['What is your clothing like?'] == a_key).all())

A True
B True
C True
D True

In [103]:
import xlsxwriter
writer = pd.ExcelWriter(os.path.join('data', 'data_transformed.xlsx'))
lower_df.to_excel(writer, 'lower zone', index=False)
for idx, df in enumerate(lower_by_clothing):
    df.to_excel(writer, 'lower + ' + list(g1.groups.keys())[idx], index=False)
upper_df.to_excel(writer, 'upper zone', index=False)
for idx, df in enumerate(upper_by_clothing):
    df.to_excel(writer, 'upper + ' + list(g2.groups.keys())[idx], index=False)
writer.save()